<!DOCTYPE html>
<html>
<head>
  <title>Repos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if message %><%= message %><% end %>
	<% if notice %><%= notice %><% end %>
	<% if alert %><%= alert %><% end %>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
